header {
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#download-link {
    color: aquamarine;
    font-size: 16px;
}

h1 {
    font-weight: 100;
    font-size: 42px;
    color: white;
}

p {
    font-size: 21px;
    color: gray;  
}

#copyright {
    text-align: right;
    color: gray;
}